<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Project Sweater</title>
</head>
<body>
    <div>
        <h2>
            Hello, {{name}}
        </h2>
    </div>
</body>
</html>