<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Page with request "greeting"</title>
</head>
<body>
<div>
    <!-- Форма логаута -->
    <div>
        <form action="/logout" method="post">
            <input type="submit" value="Выход">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        </form>
    </div>

    <!-- Форма отправки сообщений -->
    <div>
        <form method="post">
            <input type="text" name="inText" placeholder="Сообщение" />
            <input text="text" name="inTag" placeholder="Тэг" />
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit" name="sendMessage">Добавить</button>
        </form>
    </div>

    <!-- Форма фильтрации -->
    <div>
        <form method="post" action="filter">
            <input text="text" name="inFilter" placeholder="поиск по тэгу..." />
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit" name="searchByTag">Найти</button>
        </form>
    </div>

    <!-- Вывод сообщений -->
    <div>Список сообщений: </div>
        <p>
        {{#messages}}
            <div>
                <ul>
                    <li>{{id}}: {{text}} {{tag}} {{authorName}}</li>
                </ul>
            </div>
        {{/messages}}
        </p>
    </div>
</body>
</html>