<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Page with request "greeting"</title>
</head>
<body>
<div>
    <div>Список сообщений: </div>
    {{#messages}}
        <div>
            <ul>
                <li>{{id}}: {{text}} {{tag}}</li>
            </ul>
        </div>
    {{/messages}}
</div>
</body>
</html>